
<%- include(('header')) %>

<h2>ADMINISTRAÇÃO</h2>

<div id="content">
        
        <ul>
            
                <li><a href="/admin/categorias/">Gerenciar Categorias</a></li>
                <li><a href="/admin/vagas/">Gerenciar Vagas</a></li>
        
        </ul>
    </div>


    

    <%- include(('footer')) %>