<%- include(('header')) %>
<h2>Fullstack Developer (remote)</h2>
<div>
    <h3>Atividades Profissionais</h3>
    <p style="text-align:justify" > Trabalhe como um desenvolvedor full stack na construção de um sistema CRM, 
        resolvendo problemas junto a uma esteira ágil. Análise as necessidades e o ambiente para garantir
         que a solução que está sendo desenvolvida. Considere a arquitetura e o ambiente operacional atual 
         e as futuras funcionalidades e aprimoramentos. Vivência com desenvolvimento em ambientes e times ágeis,
          aplicações de alta criticidade e implementação de APIs RESTful. Experiência em NodeJs e Angular 6, HTML, 
          CSS, JavaScript, TypeScript, integração APIs REST, ORM e Git. Desejáveis conhecimentos em Linux e Docker. 
          </p>
          <h3>Deveres e responsabilidades: </h3>
          <p>Escrever código eficiente, orientado a teste, limpo e legível para fornecer novos recursos voltados ao usuário. 
                Crie código e bibliotecas reutilizáveis para uso futuro. Otimize o aplicativo para máxima velocidade e escalabilidade. 
                Documentar claramente qualquer informação relacionada a programação</p>
</div>

           
    
<%- include(('footer')) %>