<%- include(('header')) %>

<h2><%- vaga.titulo %></h2>
<div>
    
    <p style="text-align:justify; min-height: 300px;" > <%- vaga.descricao %> 
          
</div>

           
    
<%- include(('footer')) %>